<title>Digital Shopping List - Changelog of 6-1-23</title>
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.3/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
</head>

<body id="changelogBody">
    <h1 id="settingsHead">AI adaptability and recognition: 6-1-23</h1>
    <div>
        <ul id="changelogList">
          <li id="changelogListItem">&#8680; AI Adaptability: After receiving feedback from users, the AI has now learned a lot of new vocabulary in order for easier use of commands in the texting application of the app. You are now able to say things such as “add an item to the list” or “edit an item on the list” or “who did that”, or “how do i see my families”, “join my friends family”, “how to see the shopping list”, “who are the admins of this family”, “i need to change family details”, and many more options for you to be able to have an easy access to commands!</li>
          <li id="changelogListItem">&#8680; AI error messages. The bot will now give you feedback when something goes wrong in the usage of a command. For a lot of commands, you must be logged into a family to be able to execute those commands. The bot will alert you if you are not logged into a family so that you know you have to be logged in.</li>
          <li id="changelogListItem">&#8680; Change log added to the application. Whenever there is an update to the application publicly, there will be a text notification sent out. Along with the text notifications, you will be able to access the change logs with version numbers of the application at https://virtualshoppinglist.com/changelog </li>
        </ul>
      </div>
</body>